__pycache__/
*.pyc
.DS_Store
.env
.git
data/
node_modules/
allure-perfumery-backend/
allure-perfumery-backend/node_modules/
allure-perfumery-frontend/node_modules/
static/assets/creed-aventus.png
static/assets/bleu-de-chanel-parfum.png
static/assets/paco-rabanne-1-million-elixir.png
static/assets/paco-rabanne-1-million.png
static/assets/paco-rabanne-1-million-lucky.png
static/assets/paco-rabanne-1-million-golden-oud.png
static/assets/gaurav-verma-founder.png
static/assets/louis-vuitton-pink-hero.png
static/assets/louis-vuitton.mp4
